

{% block body_text %}
{% autoescape false %}


Login: {{ user.username }}
password: {{ user.plainPassword }}

{{ confirmationUrl }}


{% endautoescape %}
{% endblock %}

{% block body_html %}{% endblock %}