{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <link href="/css/jquery-ui.min.css" rel="stylesheet">
    <style>

        #fos_user_registration_form_sex
        {
            position: absolute;
            top: 85px;
        }
        #fos_user_registration_form_sex input{
            float: left;
        }
        #fos_user_registration_form_sex label
        {
            line-height: 220%;
            margin-left: 5px;
        }
        .fos_user_registration_register{
            margin-top: 50px
        }
        label {
            width: 150px;
            display: block;
            float: left
        }
    </style>
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script type="application/javascript">

        $(function() {
            /**
             * Date widget for birthdate field
             */
            $( "#fos_user_registration_form_birthdate" ).datepicker({ minDate: "-75Y", maxDate: "-15Y",  changeMonth: true,
                changeYear: true, yearRange: "-75:-15" });
            /**
             * Hide women fields by default
             */
            $("#fos_user_registration_form_breast").parent().hide();
            $("#fos_user_registration_form_waist").parent().hide();
            $("#fos_user_registration_form_hips").parent().hide();
        });


        /**
         * Show fields on base of Sex field value
         */
        $("[name='fos_user_registration_form[sex]']").on("change", function(){
           if($(this).val() == 1) {     //Man
               $("#fos_user_registration_form_breast").parent().hide();
               $("#fos_user_registration_form_waist").parent().hide();
               $("#fos_user_registration_form_hips").parent().hide();
               $("#fos_user_registration_form_breast").attr("disabled", "disabled");
               $("#fos_user_registration_form_waist").attr("disabled", "disabled");
               $("#fos_user_registration_form_hips").attr("disabled", "disabled");

           }else {
               $("#fos_user_registration_form_breast").parent().show();
               $("#fos_user_registration_form_waist").parent().show();
               $("#fos_user_registration_form_hips").parent().show();

               $("#fos_user_registration_form_breast").attr("disabled", false);
               $("#fos_user_registration_form_waist").attr("disabled", false);
               $("#fos_user_registration_form_hips").attr("disabled", false);


           }
        });

    </script>
{% endblock fos_user_content %}
