{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <a href="{{ path('homepage') }}">Back</a>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
