{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

<div class="container">

    <!-- start sign in -->
    <div class="signin-area clearfix">

        <div class="form-heading">
            <p>Sign in now</p>
        </div>

        <form  method="POST" class="superform" id="signin-form" action="{{ path("fos_user_security_check") }}" method="post"  role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <p>
                <label for="username2">Username: <span class="requiredfield">*</span></label>
                <input type="text"  id="username" name="_username" value="{{ last_username }}" required="required" />
            </p>


            <p>
                <label for="password3">Password: <span class="requiredfield">*</span></label>
                <input type="password"  id="password" name="_password" required="required" />
            </p>


            <div class="positioning">
                <p>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Keep me logged in
                </p>

                <input type="submit" id="_submit" name="_submit" value="Sign in" />


                <p class="note">Problem Signing In ?</p>

                <p class="note">
                    <a href="{{ path('fos_user_resetting_request') }}">Recover password</a> or <a href="{{ path('fos_user_registration_register') }}">Create new account</a>
                </p>

            </div>

        </form>

    </div>
    <!-- end sign in -->
    </div>
{% endblock fos_user_content %}
