<style>
    body{
        font: 70% "Trebuchet MS", sans-serif;
        margin: 50px;
    }
    #home{
        margin: 20% auto;
        width: 150px;
    }
</style>
<div id="home">
<h1>Hello world</h1>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>